@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
/*main stars theme*/
body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #000000, #0f0c29, #302b63, #24243e);
  position: relative;
  height: 100vh;
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background: white;
  opacity: 0;
  animation: fall linear infinite, fadeInOut ease-in-out;
  box-shadow: 0 0 8px #fff, 0 0 12px #00f, 0 0 15px #0ff;
  filter: blur(0.3px);
}

@keyframes fall {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(110vh);
  }
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}
